#friends-display-link {
  /* display: flex;
  justify-content: center;
  align-items: center; */

  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -15px;
}

.friends-screen{
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel{
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top : 15px;
}

.friends-screen__channel-header{
  display: flex;
  justify-content:space-between;
  margin-bottom: 30px;
}
.user-component__column>span{
  padding-right: 5px;
}

@keyframes hideSplashScreen {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    
    /* 단지 숨기는것 뿐 html에는 남아있다  */
    /* 숨겨 없애고 싶으면 JS를 사용해야함 */
    visibility: hidden; 

  }
}


#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vW;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 122px;
  animation: hideSplashScreen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}